[Desktop Entry]
Name=Dwm
Comment=Dynamic window manager
Exec=/bin/sh -c "exec \"\\${XDG_CONFIG_HOME:-\\$HOME/.config}/X11/xinitrc\""
Icon=dwm
Type=Application
